<!doctype html>
<html lang="en">
<head>
	<!-- Title block -->
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap includes -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	
	<!-- Extra imports for fine grained control -->
	{% block imports %}
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
